openapi: 3.0.0
info:
  title: MarketingAppOs API
  version: 2.0.0
  description: |
    Full CRM and Marketing Operations API for MarketingTeam.app.

    ## Authentication

    All protected endpoints accept **either**:
    - **Session cookie** — after logging in via `POST /auth/login`
    - **Bearer API key** — `Authorization: Bearer mta_xxxxxxxxx`
      Generate API keys at `POST /api/api-keys` (admin only).

    ## Base URL
    - Production: `https://www.marketingteam.app/api`
    - Local dev: `http://localhost:5000/api`

    ## Response format
    All list responses include a `data` array and a `meta` object with pagination info.
    Single-resource responses return the resource object directly.

  contact:
    name: MarketingTeam.app Support
    email: support@marketingteam.app
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://www.marketingteam.app/api
    description: Production
  - url: http://localhost:5000/api
    description: Local development

tags:
  - name: Authentication
    description: Login, logout, session management
  - name: API Keys
    description: Generate and revoke API keys for programmatic access
  - name: Users
    description: User account management
  - name: Clients
    description: Client account management
  - name: Campaigns
    description: Marketing campaign management
  - name: Tasks
    description: Task and project management
  - name: Leads
    description: Lead/sales pipeline management
  - name: Content
    description: Content posts and editorial calendar
  - name: Social
    description: Social media accounts and metrics
  - name: Automation
    description: Marketing automation — lead workflows, drip series, and broadcasts
  - name: AI Suite
    description: AI content generation, assistant chat, and scheduled AI commands
  - name: Marketing Center
    description: Marketing groups, templates, and SMS inbox (legacy internal routes)
  - name: Calendar
    description: Calendar event management
  - name: Emails
    description: Email sending and inbox
  - name: Analytics
    description: Analytics and reporting

# ─── Authentication ───────────────────────────────────────────────────────────

paths:
  /auth/login:
    post:
      tags: [Authentication]
      summary: Log in and get a session cookie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: admin@marketingteam.app
                password:
                  type: string
                  format: password
                  example: SecurePass123!
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  user: { $ref: '#/components/schemas/User' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Log out and invalidate the session
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }

# ─── API Keys ─────────────────────────────────────────────────────────────────

  /api-keys:
    get:
      tags: [API Keys]
      summary: List your API keys
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of API keys (plaintext never returned after creation)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ApiKey' }

    post:
      tags: [API Keys]
      summary: Create a new API key
      description: |
        The full key is returned **only once** in the response. Store it securely.
        All subsequent calls authenticate using `Authorization: Bearer <key>`.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 3
                  maxLength: 100
                  example: Zapier Integration
                expiresInDays:
                  type: integer
                  minimum: 1
                  maximum: 365
                  example: 90
                scopes:
                  type: array
                  items: { type: string }
                  example: ["api:full"]
      responses:
        '201':
          description: API key created — copy the `apiKey` field now
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiKey'
                  - type: object
                    properties:
                      apiKey:
                        type: string
                        example: mta_live_xxxxxxxxxxxxxxxxxxxx
                      warning:
                        type: string
                        example: Store this API key now. It will not be shown again.

  /api-keys/{id}:
    delete:
      tags: [API Keys]
      summary: Revoke an API key
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Key revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
        '404':
          $ref: '#/components/responses/NotFound'

# ─── Content ──────────────────────────────────────────────────────────────────

  /content/posts:
    get:
      tags: [Content]
      summary: List content posts
      description: Filter by client, approval status, platform, or date range.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: clientId
          in: query
          schema: { type: string }
          description: Filter by client UUID
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending, approved, rejected, published]
        - name: platform
          in: query
          schema:
            type: string
            enum: [facebook, instagram, twitter, linkedin, tiktok, youtube]
        - name: from
          in: query
          schema: { type: string, format: date-time }
          description: Only posts scheduled on or after this datetime
        - name: to
          in: query
          schema: { type: string, format: date-time }
          description: Only posts scheduled on or before this datetime
        - name: limit
          in: query
          schema: { type: integer, default: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: Paginated list of content posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContentPosts'

    post:
      tags: [Content]
      summary: Create a content post
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateContentPost' }
      responses:
        '201':
          description: Post created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContentPost' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /content/posts/{id}:
    get:
      tags: [Content]
      summary: Get a single content post
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Content post
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContentPost' }
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Content]
      summary: Update a content post
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateContentPost' }
      responses:
        '200':
          description: Updated post
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContentPost' }

    delete:
      tags: [Content]
      summary: Delete a content post
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted

  /content/calendar:
    get:
      tags: [Content]
      summary: List calendar events
      security: [{ bearerAuth: [] }]
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [meeting, call, deadline, reminder, event]
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 200 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: Paginated list of calendar events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCalendarEvents'

    post:
      tags: [Content]
      summary: Create a calendar event
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCalendarEvent' }
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CalendarEvent' }

  /content/calendar/{id}:
    get:
      tags: [Content]
      summary: Get a calendar event
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Calendar event
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CalendarEvent' }
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Content]
      summary: Update a calendar event
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCalendarEvent' }
      responses:
        '200':
          description: Updated event
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CalendarEvent' }

    delete:
      tags: [Content]
      summary: Delete a calendar event
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted

# ─── Social ───────────────────────────────────────────────────────────────────

  /social/accounts:
    get:
      tags: [Social]
      summary: List social accounts
      description: Admins see all accounts. Clients see only their own.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: clientId
          in: query
          schema: { type: string }
          description: Filter by client (admin only)
      responses:
        '200':
          description: List of social accounts
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SocialAccount' }

    post:
      tags: [Social]
      summary: Add a social account
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateSocialAccount' }
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SocialAccount' }

  /social/accounts/{id}:
    patch:
      tags: [Social]
      summary: Update a social account
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [active, inactive, error]
      responses:
        '200':
          description: Updated account
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SocialAccount' }

    delete:
      tags: [Social]
      summary: Delete a social account
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted

  /social/accounts/{id}/refresh:
    post:
      tags: [Social]
      summary: Refresh live metrics for an account
      description: Triggers a live scrape of follower/engagement stats. Rate-limited to once every 30 minutes per account.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Updated account with latest metrics
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SocialAccount' }
        '429':
          description: Cooldown active — try again later
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  cooldownRemaining: { type: integer, description: Minutes remaining }

  /social/metrics:
    get:
      tags: [Social]
      summary: Get metric snapshots for a social account
      security: [{ bearerAuth: [] }]
      parameters:
        - name: accountId
          in: query
          required: true
          schema: { type: string }
        - name: range
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d]
            default: 30d
      responses:
        '200':
          description: Account and its metric snapshots
          content:
            application/json:
              schema:
                type: object
                properties:
                  account: { $ref: '#/components/schemas/SocialAccount' }
                  snapshots:
                    type: array
                    items: { $ref: '#/components/schemas/SocialMetricSnapshot' }

# ─── Automation ───────────────────────────────────────────────────────────────

  /automation/workflows:
    get:
      tags: [Automation]
      summary: List lead automation workflows
      security: [{ bearerAuth: [] }]
      parameters:
        - name: leadId
          in: query
          schema: { type: string }
          description: Filter by lead (omit to get all)
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, sent, failed]
      responses:
        '200':
          description: Paginated list of workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/LeadAutomation' }
                  meta: { $ref: '#/components/schemas/Meta' }

    post:
      tags: [Automation]
      summary: Create a lead automation workflow
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateLeadAutomation' }
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LeadAutomation' }

  /automation/workflows/{id}:
    get:
      tags: [Automation]
      summary: Get a single workflow
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Workflow
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LeadAutomation' }
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Automation]
      summary: Update a workflow
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateLeadAutomation' }
      responses:
        '200':
          description: Updated workflow
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LeadAutomation' }

    delete:
      tags: [Automation]
      summary: Delete a workflow
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted

  /automation/series:
    get:
      tags: [Automation]
      summary: List drip series
      security: [{ bearerAuth: [] }]
      parameters:
        - name: channel
          in: query
          schema:
            type: string
            enum: [email, sms, whatsapp, telegram]
        - name: isActive
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: List of series
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MarketingSeries' }
                  meta: { $ref: '#/components/schemas/Meta' }

    post:
      tags: [Automation]
      summary: Create a drip series
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMarketingSeries' }
      responses:
        '201':
          description: Series created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MarketingSeries' }

  /automation/series/{id}:
    get:
      tags: [Automation]
      summary: Get a series with all its steps
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Series with steps
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/MarketingSeries'
                  - type: object
                    properties:
                      steps:
                        type: array
                        items: { $ref: '#/components/schemas/MarketingSeriesStep' }
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Automation]
      summary: Update a series
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMarketingSeries' }
      responses:
        '200':
          description: Updated series
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MarketingSeries' }

    delete:
      tags: [Automation]
      summary: Delete a series
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted

  /automation/series/{id}/steps:
    post:
      tags: [Automation]
      summary: Add a step to a series
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMarketingSeriesStep' }
      responses:
        '201':
          description: Step created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MarketingSeriesStep' }

  /automation/series-steps/{id}:
    patch:
      tags: [Automation]
      summary: Update a series step
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMarketingSeriesStep' }
      responses:
        '200':
          description: Updated step
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MarketingSeriesStep' }

    delete:
      tags: [Automation]
      summary: Delete a series step
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted

  /automation/series/{id}/enroll:
    post:
      tags: [Automation]
      summary: Enroll recipients in a series
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                leadIds:
                  type: array
                  items: { type: string }
                  example: ["lead-uuid-1", "lead-uuid-2"]
                clientIds:
                  type: array
                  items: { type: string }
                groupIds:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: Enrollment result
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "Enrolled 12 recipients" }
                  count: { type: integer, example: 12 }

  /automation/broadcasts:
    get:
      tags: [Automation]
      summary: List marketing broadcasts
      security: [{ bearerAuth: [] }]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, scheduled, sending, sent, completed, failed]
        - name: channel
          in: query
          schema:
            type: string
            enum: [email, sms, whatsapp, telegram, voice]
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: Paginated broadcasts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MarketingBroadcast' }
                  meta: { $ref: '#/components/schemas/Meta' }

    post:
      tags: [Automation]
      summary: Create and trigger a broadcast
      description: |
        Creates a broadcast. If `scheduledAt` is in the past or omitted, sending begins immediately.
        Set `isRecurring: true` and supply `recurringPattern` for recurring broadcasts.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMarketingBroadcast' }
            examples:
              immediate_sms:
                summary: Immediate SMS to all leads
                value:
                  channel: sms
                  type: sms
                  content: "Hi {{name}}! Check out our latest offer 🎉"
                  audience: leads
              scheduled_email:
                summary: Scheduled email campaign
                value:
                  channel: email
                  type: email
                  subject: "Your weekly update"
                  content: "<p>Hello {{name}},</p><p>Here's what's new...</p>"
                  audience: all
                  scheduledAt: "2026-03-01T09:00:00Z"
      responses:
        '202':
          description: Broadcast accepted (sending may be in progress)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MarketingBroadcast' }

  /automation/broadcasts/{id}:
    get:
      tags: [Automation]
      summary: Get a broadcast with recipient summary
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Broadcast with recipient counts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/MarketingBroadcast'
                  - type: object
                    properties:
                      recipients:
                        type: object
                        properties:
                          total: { type: integer }
                          pending: { type: integer }
                          sent: { type: integer }
                          failed: { type: integer }
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Automation]
      summary: Delete a broadcast
      description: Cannot delete broadcasts with status `sending`.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted
        '400':
          description: Cannot delete a broadcast that is currently sending

# ─── AI Suite ─────────────────────────────────────────────────────────────────

  /ai-suite/generate-content:
    post:
      tags: [AI Suite]
      summary: Generate marketing content with AI
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt, channel]
              properties:
                prompt:
                  type: string
                  example: Write a Black Friday SMS promotion for a fitness brand
                channel:
                  type: string
                  enum: [sms, email, whatsapp, telegram, social]
                  example: sms
                audience:
                  type: string
                  example: leads aged 25-40 interested in fitness
                context:
                  type: string
                  example: Brand name is FitLife. Tone is energetic and friendly.
      responses:
        '200':
          description: Generated content
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  content: { type: string, example: "🏋️ FitLife Black Friday — 40% off all plans! Use code BLACKFIT. 48h only. Reply STOP to opt out." }

  /ai-suite/chat:
    post:
      tags: [AI Suite]
      summary: Chat with the AI business assistant
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  example: Show me leads from California with a hot score
                conversationHistory:
                  type: array
                  items:
                    type: object
                    properties:
                      role: { type: string, enum: [user, assistant] }
                      content: { type: string }
      responses:
        '200':
          description: AI response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  response: { type: string }
                  actionTaken: { type: string, nullable: true }

  /ai-suite/chat-stream:
    post:
      tags: [AI Suite]
      summary: Streaming AI chat (NDJSON)
      description: |
        Same as `/ai-suite/chat` but streams the response as newline-delimited JSON.
        Each line is a JSON event. The stream ends when `done: true` is received.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string }
                conversationHistory: { type: array, items: { type: object } }
      responses:
        '200':
          description: NDJSON stream
          content:
            application/x-ndjson:
              schema:
                type: object
                properties:
                  delta: { type: string }
                  done: { type: boolean }

  /ai-suite/scheduled-commands:
    get:
      tags: [AI Suite]
      summary: List scheduled AI commands for your account
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of scheduled commands
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ScheduledAiCommand' }

    post:
      tags: [AI Suite]
      summary: Create a scheduled AI command
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateScheduledAiCommand' }
      responses:
        '201':
          description: Command scheduled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScheduledAiCommand' }

  /ai-suite/scheduled-commands/{id}:
    patch:
      tags: [AI Suite]
      summary: Update a scheduled AI command
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateScheduledAiCommand' }
      responses:
        '200':
          description: Updated command
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScheduledAiCommand' }

    delete:
      tags: [AI Suite]
      summary: Delete a scheduled AI command
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted

# ─── Marketing Center (internal) ──────────────────────────────────────────────

  /marketing-center/stats:
    get:
      tags: [Marketing Center]
      summary: Audience statistics
      description: Returns counts and opt-in rates for leads, clients, and groups.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Audience stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  leads:
                    type: object
                    properties:
                      total: { type: integer }
                      optedIn: { type: integer }
                      industries: { type: array, items: { type: string } }
                  clients:
                    type: object
                    properties:
                      total: { type: integer }
                      optedIn: { type: integer }
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        memberCount: { type: integer }

  /marketing-center/groups:
    get:
      tags: [Marketing Center]
      summary: List marketing groups
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Groups
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/MarketingGroup' }

    post:
      tags: [Marketing Center]
      summary: Create a marketing group
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                description: { type: string }
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MarketingGroup' }

  /marketing-center/templates:
    get:
      tags: [Marketing Center]
      summary: List message templates
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Templates
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/MarketingTemplate' }

    post:
      tags: [Marketing Center]
      summary: Create a message template
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMarketingTemplate' }
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MarketingTemplate' }

  /marketing-center/sms-inbox:
    get:
      tags: [Marketing Center]
      summary: Get inbound SMS messages
      security: [{ bearerAuth: [] }]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 500 }
      responses:
        '200':
          description: Inbound SMS messages
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SmsMessage' }

# ─── Existing endpoints (preserved) ──────────────────────────────────────────

  /users:
    get:
      tags: [Users]
      summary: List users
      security: [{ bearerAuth: [] }]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: Users
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }

  /clients:
    get:
      tags: [Clients]
      summary: List clients
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Clients
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Client' }

    post:
      tags: [Clients]
      summary: Create a client
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateClient' }
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }

  /leads:
    get:
      tags: [Leads]
      summary: List leads
      security: [{ bearerAuth: [] }]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
        - name: stage
          in: query
          schema:
            type: string
            enum: [prospect, qualified, proposal, closed_won, closed_lost]
        - name: score
          in: query
          schema:
            type: string
            enum: [hot, warm, cold]
      responses:
        '200':
          description: Leads
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Lead' }

    post:
      tags: [Leads]
      summary: Create a lead
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateLead' }
      responses:
        '201':
          description: Lead created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Lead' }

  /tasks:
    get:
      tags: [Tasks]
      summary: List tasks
      security: [{ bearerAuth: [] }]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [todo, in_progress, review, completed]
        - name: priority
          in: query
          schema:
            type: string
            enum: [low, normal, high, urgent]
      responses:
        '200':
          description: Tasks
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Task' }

  /calendar/events:
    get:
      tags: [Calendar]
      summary: List calendar events (legacy endpoint)
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Events
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CalendarEvent' }

  /emails/send:
    post:
      tags: [Emails]
      summary: Send an email
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, subject, html]
              properties:
                to: { type: string, format: email }
                subject: { type: string }
                html: { type: string }
      responses:
        '200':
          description: Email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  messageId: { type: string }

  /analytics/metrics:
    get:
      tags: [Analytics]
      summary: Get analytics metrics
      security: [{ bearerAuth: [] }]
      parameters:
        - name: clientId
          in: query
          schema: { type: string }
        - name: startDate
          in: query
          schema: { type: string, format: date }
        - name: endDate
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Metrics
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AnalyticsMetric' }

# ─── Components ───────────────────────────────────────────────────────────────

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        Use an API key generated from `POST /api/api-keys`.
        Format: `Authorization: Bearer mta_live_xxxxxxxxxx`

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      properties:
        message: { type: string, example: Resource not found }
        errors:
          type: array
          items: { type: object }

    Meta:
      type: object
      properties:
        total: { type: integer, example: 120 }
        limit: { type: integer, example: 50 }
        offset: { type: integer, example: 0 }

    # ── Users ────────────────────────────────────────────────────────────────

    User:
      type: object
      properties:
        id: { type: integer, example: 1 }
        username: { type: string, example: admin@marketingteam.app }
        email: { type: string, format: email }
        firstName: { type: string }
        lastName: { type: string }
        role:
          type: string
          enum: [admin, manager, staff, sales_agent, creator_manager, creator, staff_content_creator, client]
        createdAt: { type: string, format: date-time }

    # ── API Keys ─────────────────────────────────────────────────────────────

    ApiKey:
      type: object
      properties:
        id: { type: string }
        name: { type: string, example: Zapier Integration }
        keyPrefix: { type: string, example: mta_live_xxxx }
        scopes:
          type: array
          items: { type: string }
          example: ["api:full"]
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time, nullable: true }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        revokedAt: { type: string, format: date-time, nullable: true }

    # ── Clients ──────────────────────────────────────────────────────────────

    Client:
      type: object
      properties:
        id: { type: string, example: "550e8400-e29b-41d4-a716-446655440000" }
        name: { type: string, example: Acme Corporation }
        company: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        website: { type: string }
        status:
          type: string
          enum: [active, inactive, onboarding]
        createdAt: { type: string, format: date-time }

    CreateClient:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 100 }
        company: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        website: { type: string }

    # ── Leads ────────────────────────────────────────────────────────────────

    Lead:
      type: object
      properties:
        id: { type: string }
        name: { type: string, example: John Smith }
        email: { type: string, format: email }
        phone: { type: string }
        company: { type: string }
        stage:
          type: string
          enum: [prospect, qualified, proposal, closed_won, closed_lost]
        score:
          type: string
          enum: [hot, warm, cold]
        source: { type: string }
        optInEmail: { type: boolean }
        optInSms: { type: boolean }
        assignedToId: { type: integer, nullable: true }
        createdAt: { type: string, format: date-time }

    CreateLead:
      type: object
      required: [name]
      properties:
        name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        company: { type: string }
        stage:
          type: string
          enum: [prospect, qualified, proposal, closed_won, closed_lost]
          default: prospect
        score:
          type: string
          enum: [hot, warm, cold]
          default: warm
        source: { type: string, default: website }
        assignedToId: { type: integer }

    # ── Tasks ────────────────────────────────────────────────────────────────

    Task:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        description: { type: string }
        status:
          type: string
          enum: [todo, in_progress, review, completed]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        dueDate: { type: string, format: date-time, nullable: true }
        assignedToId: { type: integer, nullable: true }
        clientId: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }

    # ── Content ──────────────────────────────────────────────────────────────

    ContentPost:
      type: object
      properties:
        id: { type: string }
        clientId: { type: string }
        platforms:
          type: array
          items:
            type: string
            enum: [facebook, instagram, twitter, linkedin, tiktok, youtube]
          example: ["instagram", "facebook"]
        caption: { type: string }
        mediaUrl: { type: string, format: uri, nullable: true }
        scheduledFor: { type: string, format: date-time, nullable: true }
        approvalStatus:
          type: string
          enum: [draft, pending, approved, rejected, published]
        publishedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateContentPost:
      type: object
      required: [clientId, platforms]
      properties:
        clientId: { type: string }
        platforms:
          type: array
          items:
            type: string
            enum: [facebook, instagram, twitter, linkedin, tiktok, youtube]
          minItems: 1
        caption: { type: string }
        mediaUrl: { type: string, format: uri }
        scheduledFor: { type: string, format: date-time }
        approvalStatus:
          type: string
          enum: [draft, pending, approved, rejected, published]
          default: draft

    PaginatedContentPosts:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/ContentPost' }
        meta: { $ref: '#/components/schemas/Meta' }

    # ── Calendar ─────────────────────────────────────────────────────────────

    CalendarEvent:
      type: object
      properties:
        id: { type: string }
        title: { type: string, example: Client strategy call }
        description: { type: string }
        start: { type: string, format: date-time }
        end: { type: string, format: date-time }
        location: { type: string }
        type:
          type: string
          enum: [meeting, call, deadline, reminder, event]
        attendees:
          type: array
          items: { type: string }
        meetLink: { type: string, nullable: true }
        isRecurring: { type: boolean }
        createdBy: { type: integer }
        createdAt: { type: string, format: date-time }

    CreateCalendarEvent:
      type: object
      required: [title, start, end]
      properties:
        title: { type: string }
        description: { type: string }
        start: { type: string, format: date-time }
        end: { type: string, format: date-time }
        location: { type: string }
        type:
          type: string
          enum: [meeting, call, deadline, reminder, event]
          default: event
        attendees:
          type: array
          items: { type: string }

    PaginatedCalendarEvents:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/CalendarEvent' }
        meta: { $ref: '#/components/schemas/Meta' }

    # ── Social ───────────────────────────────────────────────────────────────

    SocialAccount:
      type: object
      properties:
        id: { type: string }
        clientId: { type: string }
        platform:
          type: string
          enum: [instagram, tiktok, youtube, twitter, facebook, linkedin]
        handle: { type: string, example: fitlife_brand }
        displayName: { type: string }
        profileUrl: { type: string, format: uri }
        status:
          type: string
          enum: [active, inactive, error]
        lastScrapedAt: { type: string, format: date-time, nullable: true }
        lastError: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }

    CreateSocialAccount:
      type: object
      required: [clientId, platform, handle]
      properties:
        clientId: { type: string }
        platform:
          type: string
          enum: [instagram, tiktok, youtube, twitter, facebook, linkedin]
        handle: { type: string, example: fitlife_brand }

    SocialMetricSnapshot:
      type: object
      properties:
        id: { type: string }
        socialAccountId: { type: string }
        capturedAt: { type: string, format: date-time }
        followers: { type: integer }
        following: { type: integer }
        postsCount: { type: integer }
        likesCount: { type: integer }
        viewsCount: { type: integer }

    # ── Automation ───────────────────────────────────────────────────────────

    LeadAutomation:
      type: object
      properties:
        id: { type: string }
        leadId: { type: string }
        type:
          type: string
          enum: [email, sms]
        trigger:
          type: string
          enum: [stage_change, time_delay, manual]
        triggerConditions: { type: object }
        actionType:
          type: string
          enum: [send_email, send_sms]
        actionData: { type: object }
        status:
          type: string
          enum: [pending, sent, failed]
        isActive: { type: boolean }
        nextRunAt: { type: string, format: date-time, nullable: true }
        executedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    CreateLeadAutomation:
      type: object
      required: [leadId, type, trigger, actionType]
      properties:
        leadId: { type: string }
        type:
          type: string
          enum: [email, sms]
        trigger:
          type: string
          enum: [stage_change, time_delay, manual]
        triggerConditions: { type: object }
        actionType:
          type: string
          enum: [send_email, send_sms]
        actionData: { type: object }
        isActive: { type: boolean, default: true }
        nextRunAt: { type: string, format: date-time }

    MarketingSeries:
      type: object
      properties:
        id: { type: string }
        name: { type: string, example: New Lead Welcome Sequence }
        description: { type: string }
        channel:
          type: string
          enum: [email, sms, whatsapp, telegram]
        isActive: { type: boolean }
        createdBy: { type: integer }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateMarketingSeries:
      type: object
      required: [name, channel]
      properties:
        name: { type: string }
        description: { type: string }
        channel:
          type: string
          enum: [email, sms, whatsapp, telegram]
        isActive: { type: boolean, default: true }

    MarketingSeriesStep:
      type: object
      properties:
        id: { type: string }
        seriesId: { type: string }
        stepOrder: { type: integer }
        name: { type: string }
        subject: { type: string, nullable: true, description: Email subject }
        content: { type: string }
        delayDays: { type: integer, default: 0 }
        delayHours: { type: integer, default: 0 }
        createdAt: { type: string, format: date-time }

    CreateMarketingSeriesStep:
      type: object
      required: [name, content, stepOrder]
      properties:
        name: { type: string }
        stepOrder: { type: integer }
        subject: { type: string }
        content: { type: string }
        delayDays: { type: integer, default: 0 }
        delayHours: { type: integer, default: 0 }

    MarketingBroadcast:
      type: object
      properties:
        id: { type: string }
        channel:
          type: string
          enum: [email, sms, whatsapp, telegram, voice]
        type: { type: string }
        content: { type: string }
        subject: { type: string, nullable: true }
        audience:
          type: string
          enum: [all, leads, clients, group, individual]
        status:
          type: string
          enum: [pending, scheduled, sending, sent, completed, failed]
        totalRecipients: { type: integer }
        successCount: { type: integer }
        failedCount: { type: integer }
        scheduledAt: { type: string, format: date-time, nullable: true }
        sentAt: { type: string, format: date-time, nullable: true }
        completedAt: { type: string, format: date-time, nullable: true }
        isRecurring: { type: boolean }
        recurringPattern:
          type: string
          enum: [daily, weekly, monthly]
          nullable: true
        useAiPersonalization: { type: boolean }
        createdAt: { type: string, format: date-time }

    CreateMarketingBroadcast:
      type: object
      required: [channel, type, content, audience]
      properties:
        channel:
          type: string
          enum: [email, sms, whatsapp, telegram, voice]
        type:
          type: string
          enum: [email, sms, whatsapp, telegram, voice]
        content: { type: string }
        subject: { type: string, description: Required for email channel }
        audience:
          type: string
          enum: [all, leads, clients, group, individual]
        groupId: { type: string, description: Required when audience=group }
        customRecipient: { type: string, description: Required when audience=individual }
        filters: { type: object, description: Audience filters (industry, tags, etc.) }
        scheduledAt: { type: string, format: date-time }
        isRecurring: { type: boolean, default: false }
        recurringPattern:
          type: string
          enum: [daily, weekly, monthly]
        recurringInterval: { type: integer, default: 1 }
        recurringEndDate: { type: string, format: date-time }
        useAiPersonalization: { type: boolean, default: false }
        mediaUrls:
          type: array
          items: { type: string, format: uri }

    # ── AI Suite ─────────────────────────────────────────────────────────────

    ScheduledAiCommand:
      type: object
      properties:
        id: { type: string }
        userId: { type: integer }
        command: { type: string }
        parameters: { type: object }
        status:
          type: string
          enum: [pending, running, completed, failed]
        nextRunAt: { type: string, format: date-time, nullable: true }
        lastRunAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    CreateScheduledAiCommand:
      type: object
      required: [command]
      properties:
        command: { type: string, example: "Send weekly summary email to all active clients" }
        parameters: { type: object }
        nextRunAt: { type: string, format: date-time }

    # ── Marketing Center ─────────────────────────────────────────────────────

    MarketingGroup:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        createdBy: { type: integer }
        createdAt: { type: string, format: date-time }

    MarketingTemplate:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        type:
          type: string
          enum: [email, sms, whatsapp, telegram]
        subject: { type: string, nullable: true }
        content: { type: string }
        createdAt: { type: string, format: date-time }

    CreateMarketingTemplate:
      type: object
      required: [name, type, content]
      properties:
        name: { type: string }
        type:
          type: string
          enum: [email, sms, whatsapp, telegram]
        subject: { type: string }
        content: { type: string }

    SmsMessage:
      type: object
      properties:
        id: { type: integer }
        direction:
          type: string
          enum: [inbound, outbound]
        fromNumber: { type: string }
        toNumber: { type: string }
        text: { type: string }
        status: { type: string }
        leadId: { type: string, nullable: true }
        timestamp: { type: string, format: date-time }

    # ── Analytics ────────────────────────────────────────────────────────────

    AnalyticsMetric:
      type: object
      properties:
        id: { type: string }
        clientId: { type: string }
        metricType:
          type: string
          enum: [social, ads, website]
        platform: { type: string }
        date: { type: string, format: date-time }
        metrics: { type: object }
        createdAt: { type: string, format: date-time }
